numpy
pandas
matplotlib
opencv-python
scikit-learn
scipy
tensorflow
albumentations
tqdm
seaborn
jupyterlab
notebook
pyyaml
argparse
pillow
shapely
geojson
h5py
lidar
open3d
pyrealsense2
pyserial
pyquaternion
pyproj
requests